@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.modal{
    position: absolute;
    background-color: rgb(0 0 0 / .8);
    inset: 0;
    .formulario{
        max-width: 60rem;
        background-color: v.$blanco;
        padding: 2rem;
        margin: 0 auto;
        transform: translateY(-30rem);
        transition: all 500ms ease-in-out;
        opacity: 0;
        &.animar{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            opacity: 1;
        }
    }
}